<html>
<head>
    <link href="{{ asset('/bundles/appshedextensionsspreadsheet/css/bootstrap.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('/bundles/appshedextensionsspreadsheet/css/write.css') }}" rel="stylesheet" />
</head>
<body>
<div class="content">
    {% if action=="save" and error is not defined %}
        <div class="message">Your extension has been saved</div>
    {% else %}
        {%  if error is defined %}<div class="errors">{{ error }}</div>{% endif %}
        <form method="post">
            <div>
                <label>Spreadsheet URL</label>
                <textarea name="url" class="gradient onepx-border">{{ doc.url }}</textarea>
            </div>
            <div class="buttons">
                <button type="submit" name="action" value="save" class="btn btn-big btn-success">Save</button>
            </div>
        </form>
    {% endif %}
</div>
</body>
</html>
