parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt
    google_client_id:   '1031545240475-o73fjbf0j4gerfjj603feqr3sb142c3p.apps.googleusercontent.com'
    google_client_email:    '1031545240475-o73fjbf0j4gerfjj603feqr3sb142c3p@developer.gserviceaccount.com'
